body {
    margin-right: 40px;
    margin-left: 40px;
    text-align: justify;
    background-color: #0083C1;
    color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 2em;
}

hr {
    width: 30%;
    color: #FF5F00;
}

#warning {
    color:  #F5C113;
}
