body {
  padding-top: 0px;
  background-color: black;
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: white 0px -2px 6px 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #767676;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: black 1px 1px 8px;
}

body:hover {
  font-size: 14px;
}

h1 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ff5f00;
  color: black;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  text-decoration: none;
  text-shadow: none;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  display: inline-block;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #0083c1;
  font-size: 17px;
  line-height: 32px;
  font-weight: 400;
  text-shadow: #7fc7c0 1px 1px 8px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
  list-style-type: none;
  text-shadow: none;
}

a {
  color: #0083c1;
}

.button {
  display: inline-block;
  width: 280px;
  height: 55px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 16px 15px 4px 99px;
  float: none;
  border-radius: 5px;
  background-color: black;
  direction: rtl;
  color: white;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
}

.button.fb {
  display: block;
  background-image: url('../images/FB Button.png');
  box-shadow: black 1px 1px 3px 0px;
  direction: rtl;
  font-size: 14px;
  line-height: 21px;
  text-shadow: black 1px 1px 6px;
}

.button.fb:hover {
  font-size: 17px;
}

.button.fb:active {
  border: 2px solid white;
}

.button.google {
  background-image: url('../images/G+ Button.png');
  box-shadow: black 1px 1px 3px 0px;
  direction: rtl;
  text-shadow: black 1px 1px 6px;
}

.button.google:hover {
  font-size: 17px;
}

.button.google:active {
  border: 2px solid white;
}

.button.twitter {
  background-image: url('../images/Twitter Button.png');
  box-shadow: black 1px 1px 3px 0px;
  text-shadow: black 1px 1px 6px;
}

.button.twitter:hover {
  font-size: 17px;
}

.button.twitter:active {
  border: 2px solid white;
}

.button.in {
  background-image: url('../images/In Button.png');
  box-shadow: black 1px 1px 3px 0px;
  text-shadow: black 1px 1px 6px;
}

.button.in:hover {
  font-size: 17px;
}

.button.in:active {
  border: 2px solid white;
}

.button.decathlon {
  padding-top: 19px;
  padding-left: 119px;
  background-image: url('../images/Decathlon Button.png');
  box-shadow: black 1px 1px 3px 0px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  text-indent: 0px;
  text-shadow: black 1px 1px 6px;
}

.button.decathlon:hover {
  font-size: 17px;
}

.button.decathlon:active {
  border: 2px solid white;
}

.button.email {
  background-image: url('../images/Email Button.png');
  box-shadow: black 1px 1px 3px 0px;
  text-shadow: black 1px 1px 6px;
}

.button.email:hover {
  font-size: 17px;
}

.button.email:active {
  border: 2px solid white;
}

.corporate {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form {
  width: 320px;
  float: none;
  text-align: center;
}

.auth {
  display: inline-block;
  text-align: center;
}

.welcome {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.checkbox {
  display: inline-block;
  width: 280px;
  margin-left: 0px;
  padding-top: 10px;
  float: none;
  text-align: left;
}

.submit {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.checkb {
  display: inline-block;
  text-align: center;
}

.social {
  display: inline-block;
  width: 280px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  float: none;
  text-align: right;
  text-shadow: none;
}

.powered {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  text-align: center;
}

.aup {
  color: #0083c1;
}

.cloudi-fi {
  width: 140px;
  padding-top: 12px;
  color: white;
  font-size: 12px;
  text-align: left;
  text-shadow: none;
}

.welcome-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer {
  margin-top: 0px;
}

.footer {
  margin-top: 10px;
  color: black;
  font-size: 16px;
  text-align: center;
  text-shadow: none;
}

.aup-body {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.footer-aup {
  margin-top: 20px;
  color: black;
  font-size: 16px;
  text-align: left;
  text-shadow: none;
}

.error {
  background-color: transparent;
  color: #ff0029;
}

@media (max-width: 991px) {
  body {
    background-size: cover;
  }
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
}

@media (max-width: 767px) {
  body {
    background-size: cover;
  }
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
}

@media (max-width: 479px) {
  body {
    background-size: cover;
  }
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
}